<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyFirstCustomerProject.Properties.Settings.MyDbCustomerConnectionString"
            connectionString="Data Source=DESKTOP-9B3JVRI;Initial Catalog=MyDbCustomer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>